<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>

    <!-- Including stylesheet of Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    
    <!-- Custom CSS styleSheet -->
    <link rel="stylesheet" href="/css/home.css">
    
</head>
<body>
    <div id="todo">
        <h1>Todo App</h1>
        <hr>

        <!-- Start of form having a post route -->
        <form method="POST">
            <div class="row">
                <div class="col-sm-12 flex-c">
                    <label for="description">DESCRIPTION</label>
                    <input type="text" id="description" name="description" placeholder="task is...">
                </div>  
            </div>
            <hr>
            <div class="row">
                <div class=" col-sm-6 col-xs-12 flex-c"> 
                    <label for="category">CATEGORY</label>
                    <select name="category" id="category">
                        <option value="personal">Personal</option>
                        <option value="work">Work</option>
                        <option value="school">School</option>
                        <option value="cleaning">Cleaning</option>
                        <option value="other">Other</option>
                    </select>   
                </div>
                <div class="col-sm-6 col-xs-12 flex-c">
                    <label for="dueDate">DUE DATE</label>
                    <input type="date" id="dueDate" name="dueDate" >
                </div>  
            </div>
            <hr>
            <div class="row" id="buttons">
                <button id="add-btn" formaction="/task/add-task"><i class="fa fa-plus" ></i>ADD TASK</button>
                <button id="del-btn" formaction="/task/delete-task"><i class="fa fa-trash" ></i>DELETE TASK</button>
            </div>

            <!-- Displays select all and delete all only if there is some task present in the todo -->
            <% if(tasks.length >0){ %>
                <div class="row" id="select-all-div">
                    <span id="count-span">Task Count: <%= tasks.length %></span>
                    <button id="btn-select">Select All</button>
                    <button id="btn-remove">Deselect All</button>
                </div>
            <% } %>
            <!-- Displays all the todos -->
            <% for(task of tasks){ %>
                <hr>
                <div class="row display-task">
                    <div class="col-xs-1 align-components-task">
                        <input type="checkbox" id="<%= task.id %>" name="task" value="<%= task.id %>">
                    </div>
                    <div class="col-xs-8 flex-c" id="task-description-display-<%= task.id%>">
                        <p   class="task-description-display"><%= task.description%></p>

                            <!-- Calculation for dates -->
                            <% 
                                var hour = new Date().getHours();
                                var minute = new Date().getHours();
                                var second = new Date().getHours();
                                var finalTime = hour*3600 + minute*60*1000 + second*1000;
                                var day = 24*3600*1000 -2 ;
                            %>

                            <!-- checks whether a date has already passed or not and assigns color according to that to date display-->

                            <% if(Date.parse(task.dueDate)+day < Date.now() - finalTime ) {%>
                                <small Style="color:red" >
                                    <i class="fa fa-calendar-alt"></i>
                                    <%= month[task.dueDate.getMonth()] %> <%= task.dueDate.getDate() %>, <%= task.dueDate.getFullYear() %>
                                </small>
                            <% } else{%>
                                <small Style="color:#939393">
                                    <i class="fa fa-calendar-alt"></i>
                                    <%= month[task.dueDate.getMonth()] %> <%= task.dueDate.getDate() %>, <%= task.dueDate.getFullYear() %>
                                </small>
                            <% }%>
                        
                    </div>
                    <div class="col-xs-3 align-components-task" >
                        <button class="<%= task.category %> btn-category-display"><%= task.category %></button>
                    </div>
                    
                </div>
            <% } %>
        </form>
    </div>

    <!-- Script for font awesome icons -->
    <script src="https://kit.fontawesome.com/f30dc76486.js" crossorigin="anonymous"></script>

    <!-- Script for jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- custom js -->
    <script src="/js/home.js"></script>
</body>
</html>